*.txt
*.sh
*.gitignore
*.md
inicializar_git.sh
push_cambios.sh
log.txt

# Asegurar que los directorios node_modules NO sean ignorados por Git
# Esto re-incluye cualquier carpeta llamada "node_modules" en cualquier nivel
!node_modules/
!node_modules/**
!**/node_modules/
!**/node_modules/**
